body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
  }
  
  .hero-heading-center {
    background-color: #5ec75e;
    border-bottom: 1px solid #000000;
    padding: 80px 30px;
    position: relative;
  }
  
  .container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .centered-heading {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .centered-heading.margin-bottom-32px {
    margin-bottom: 32px;
  }
  
  .hero-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .hero-split {
    max-width: 46%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .margin-bottom-24px {
    color: #e4ebf3;
    margin-bottom: 24px;
  }
  
  .button-primary {
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
  }
  
  .button-primary:hover {
    color: #a04545;
    background-color: #32343a;
  }
  
  .button-primary:active {
    background-color: #43464d;
  }

  .hero-without-image {
    opacity: 1;
    outline-offset: 0px;
    background-color: #f5f7fa;
    background-image: url(img/FrontDivino.jpg);
    background-position: 0 0;
    background-size: auto;
    border-bottom: 1px solid #e4ebf3;
    outline: 3px solid #000000;
    padding: 80px 30px;
    position: relative;
  }
  
  .container-2 {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero-wrapper-two {
    max-width: 750px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    display: flex;
  }
  
  .margin-bottom-24px-2 {
    color: #ffffff;
    margin-bottom: 24px;
  }
  
  .button-primary-2 {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
  }
  
  .button-primary-2:hover {
    color: #fff;
    background-color: #32343a;
  }
  
  .button-primary-2:active {
    background-color: #43464d;
  }
  
  .body {
    mix-blend-mode: normal;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }
  
  .heading {
    color: #ffffff;
  }
  
  @Media screen and (max-width: 991px) {
    .container {
      max-width: 728px;
    }
  
    .hero-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: -40px;
    }
  
    .hero-split {
      max-width: 100%;
      margin-bottom: 40px;
    }
  
    .container-2 {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .hero-heading-center, .hero-without-image {
      padding: 60px 15px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .container {
      max-width: none;
    }
  
    .centered-heading {
      margin-bottom: 24px;
    }
  
    .container-2 {
      max-width: none;
    }
    
  }
  h1 {
    font-style: italic;
    margin: 10;
    font-size: 44px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }

  #hero h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .btn {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #32343a;
  }
  
  .button-primary:active {
    background-color: #43464d;
  }